body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* IE, MSEdge and Firefox */
.hideScrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

/* Chrome, Safari and Opera */
.hideScrollbar::-webkit-scrollbar {
  display: none;
}